<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Brainwit System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Favicons -->
  <link href="favicon.ico" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123346782-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123346782-1');
  </script>

     
{% block css %}
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/bootstrap/css/bootstrap.min.css') }}"/>
    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/animate/animate.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/ionicons/css/ionicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/owlcarousel/assets/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/magnific-popup/magnific-popup.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/lib/ionicons/css/ionicons.min.css') }}"/>
    <!-- Main Stylesheet File -->
    <link rel="stylesheet" href="{{ asset('bundles/africanuser/css/style.css') }}"/>

{% endblock css %}

<body id="body">

  <div class="loading" style="display:none;"><img src="img/loader.png"></div>
  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:sales@brainwit.co.in">sales@brainwit.co.in</a>
        <i class="fa fa-phone"></i> +91 8320349417
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">

    <div class="container">

      <div id="logo" class="pull-left">
          <a href="/"><img src="img/logo.png"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
    <section id="intro">

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url(img/intro-carousel/banner_1.jpg)">
      <div class="container">
        <div class="row">
        
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 col-xs-push-12">
              <div class="banner_inner">
                      <div class="tablecell">
                        <img src="img/intro-carousel/img-text.png">
                   </div>
              </div>
            </div>
          
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6 col-xs-pull-12">
               <div class="banner_inner">
                    <div class="tablecell">
                         <h1>WEB<br>DEVELOPMENT</h1>
                         <p>We delivering secure & scalable IT solutions & We have built complex multi-modal solutions using web development.</p>
                     </div>
                </div>
             </div>
             
            </div>
        </div>
      </div>
        <div class="item" style="background-image: url(img/intro-carousel/banner_1.jpg)">
      <div class="container">
        <div class="row">
        
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 col-xs-push-12">
               <div class="banner_inner">
                    <div class="tablecell">
                          <img src="img/intro-carousel/img-text2.png">
                     </div>
                </div>
             </div>
        
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6 col-xs-pull-12">
              <div class="banner_inner">
                  <div class="tablecell">
                     <h1>MOBLE APP<br>DEVELOPMENT</h1>
                     <p>We build mobile Apps, End-to-end mobile application development for consumer-facing and corporate environments And that take users by storm.</p>
                 </div>
                </div>
             </div>
             
            </div>
        </div>
      </div>

    </div>

  </section><!-- #intro -->

  <main id="main">
    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/about-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>About Us</h2>
            <h3>Brainwit system is a custom software development outsourcing and product development company with expertise in Web Development, Mobile Apps Development, And CMS & Ecommerce Development. And we have discovered that when you give smart tools to smart people, they can build amazing things. So that is what we have done, The results speak for themselves.
            .</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> The company is having good satisfied clients across the world and good experience in digital transformation industry.</li>
              <li><i class="ion-android-checkmark-circle"></i> Brainwit integrated global solution.
              <span><i class="ion-android-checkmark-circle"></i>Youngster Team, Creative a new</span>
              <span><i class="ion-android-checkmark-circle"></i>Technological expertise</span>
<span><i class="ion-android-checkmark-circle"></i>Outsource business project model</span>
<span><i class="ion-android-checkmark-circle"></i>Provide quality work and trust</span>
</li>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Services</h2>
          <p>Brainwit system is a custom software development outsourcing and product development company with expertise in Web Development, Mobile Apps Development, And CMS & Ecommerce Development.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><img src="img/ui-ux.jpg"></div>
              <h4 class="title"><a href="">UX/UI Design</a></h4>
              <p class="description">We have creating professional design solution to optimize your internet initiatives & make an outstanding difference to your business. and have pioneered in designing beautiful and attractive responsive web and mobile applications.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><img src="img/web-dp.jpg"></div>
              <h4 class="title"><a href="">Web Development</a></h4>
              <p class="description">Brainwit system has practical experience in creating reliable web development solutions, mark your presence on the world wide web, with our innovative website design and web development services.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><img src="img/app-dp.jpg"></div>
              <h4 class="title"><a href="">App Development </a></h4>
              <p class="description">We build mobile Apps, To enhance interactive communications with customers & clients with the help of Mobile Apps Development, End-to-end mobile application development for consumer-facing and corporate environments And that take users by storm.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><img src="img/web-tg.jpg"></div>
              <h4 class="title"><a href="">QA/Testing</a></h4>
              <p class="description">Brainwit system offers a wide range of independent software QA and testing services that adherence to the highest levels of security and industry standards, We alwayes belive security and support system. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>Our clients!</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="img/clients/client-1.png" alt="">
          <img src="img/clients/client-2.png" alt="">
          <img src="img/clients/client-3.png" alt="">
          <img src="img/clients/client-4.png" alt="">
          <img src="img/clients/client-5.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>Brainwit system has delivered over 5+ projects across 5+ industries worldwide. We take personal satisfaction in pushing ourselves and our clients outside of the proverbial box, but more importantly, we understand that creativity must work hand-in-hand with strategy and be respectful of budgets. 
We’ve had the privilege of working with wonderful clients on many web projects, We just startup in industries since 2017.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-6 col-md-6">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/1.jpg" class="portfolio-popup">
                <img src="img/portfolio/1.jpg" alt="">
              </a>            
            </div>
          </div>
    

          <div class="col-lg-6 col-md-6">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/2.jpg" class="portfolio-popup">
                <img src="img/portfolio/2.jpg" alt="">
              </a>            
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/3.jpg" class="portfolio-popup">
                <img src="img/portfolio/3.jpg" alt="">
              </a>            
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/4.jpg" class="portfolio-popup">
                <img src="img/portfolio/4.jpg" alt="">
              </a>            
            </div>
          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Testimonials from our trusted & satisfied & Happy Clients...!!!</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                We developed a great ZakerLab with Brainwit System and thier dedication to our website is evident in all aspects of the site. We appreciate their attention to detail and creative approach to bringing our new exhibit to life online, Thank you.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
              <h3>Martin favod</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                It was a great journey with brainwit system. Has taught me many things not only related to technology, but also helped improve my interpersonal skills as well. It was really a good experience.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
              <h3>Jenny grac</h3>
              <h4>Managing Director</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Brainwit system provides productive worked and good project management at a reasonable price. Despite the language barrier, they collaborate well with multiple teams and excel at communication. They are also good at explaining technical matters to non-technical staff.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
              <h3>Bob wolis</h3>
              <h4>CTO</h4>
            </div>
         
        </div>

      </div>
    </section><!-- #testimonials -->

  
    <!--==========================
      Our Team Section
    ============================-->
    
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Team</h2>
        </div>

        <div class="row">
          <div class="owl-carousel team-carousel">
          <div class="team">
            <div class="member">
              <div class="pic"><img src="img/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>Sujit Manavadariya</h4>
                <span>Ceo / Founder</span>
              </div>
            </div>
          </div>

          <div class="team">
            <div class="member">
              <div class="pic"><img src="img/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>Khyati Moradiya</h4>
                <span>Business Analyst</span>
              </div>
            </div>
          </div>

          <div class="team">
            <div class="member">
              <div class="pic"><img src="img/team-2.jpg" alt=""></div>
              <div class="details">
                <h4>Pooja Kotak</h4>
                <span>Business Analyst</span>
              </div>
            </div>
          </div>

          <div class="team">
            <div class="member">
              <div class="pic"><img src="img/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>Ankit Patel</h4>
                <span>Design Manager</span>
              </div>
            </div>
          </div>

          <div class="team">
            <div class="member">
              <div class="pic"><img src="img/team-1.jpg" alt=""></div>
              <div class="details">
                <h4>Samir Kaneria</h4>
                <span>Qa Manager</span>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
         </div>
    </section>

    <!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Tell us your requirements and we will get back to you as soon as we can, Please fill out a form below or mobile, e-mail us and we will be in touch with you shortly.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>810 Satyam Mall, Opp. Shiva Temple, Ahemedabad 380015, India</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+918320349417">+91 8320349417</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:sales@brainwit.co.in">sales@brainwit.co.in</a></p>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="container">
          <div class="google-map" id="google-map">
              
          </div>
      </div> -->

      <div class="container">
        <div class="form">
          <div id="sendmessage"></div>
          <div id="errormessage"></div>
          <form role="form" class="contactForm" id="contactForm">
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" autocomplete="off" />
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" autocomplete="off"/>
              </div>
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Mobile Ex:(+91 XXXXXXXXXX)" autocomplete="off" />
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" autocomplete="off" />
              </div>
            </div>
            
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" id="contactSubmit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2017 - {{ "now"|date("Y") }} <strong>Brainwit System</strong>. All Rights Reserved
      </div>
      <div class="credits"></div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% block javascript %}
<!-- JS -->
<script src="{{ asset('bundles/africanuser/lib/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/easing/easing.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/superfish/hoverIntent.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/superfish/superfish.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/wow/wow.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/magnific-popup/magnific-popup.min.js') }}"></script>
<script src="{{ asset('bundles/africanuser/lib/sticky/sticky.js') }}"></script>

<script src="{{ asset('bundles/africanuser/lib/jquery/jquery.validate.min.js') }}"></script>

<!-- Contact Form JavaScript File -->
<script src="{{ asset('bundles/africanuser/js/contactform.js') }}"></script>

<!-- Template Main Javascript File -->
<script src="{{ asset('bundles/africanuser/js/main.js') }}"></script>
{% endblock javascript %}

</body>

</html>
